:root {
    --background-pink: #f6eeea;
    --black: #000;
    --light-orange: #e37025;
    --grey: #272727;
    --border-grey: rgba(0,0,0,.12);
    --break-line-grey: #888;
}

html {
    background: var(--background-pink);
}