.main-content {
    margin: 2rem 1rem 5rem;
}

.main-content h1 {
    line-height: 1.2;
    font-size: 38px;
}

.main-content h2 {
    line-height: 1.2;
    font-size: 30px;
}

.main-content h3 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
}

.main-content-header {
    margin: 2rem 0;
    text-align: center;
}

.main-content-header::after {
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    background-color: var(--break-line-grey);
    margin: 1.5rem auto;
}

.main-content-header h1 {
    margin: 0 0 1rem;
}

.main-content-header .social-icons {
    margin: 2rem;
}

.main-content-time {
    margin: 0 0 0.5rem;
    color: var(--black);
}

.main-content-image {
    position: relative;
    height: 400px;
}

.main-content-image img{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.main-content-body {
    margin: 3rem 0 6rem;
}

.share-to {
    text-align: center;
    margin: 5rem 0 0;
}

.related {
    margin: 1rem 0;
    padding: 5rem 1rem 1rem;
    border-top: 1px solid var(--black);
    text-align: center;
}

.related h1 {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .main-content {
        margin: 3rem 1rem 7rem;
    }

    .main-content h1 {
        font-size: 48px;
    }

    .main-content h2 {
        font-size: 36px;
    }

    .main-content h3 {
        font-size: 24px;
    }

    .main-content-image {
        height: 500px;
    }

    .main-content-body {
        max-width: 700px;
        margin: auto;
    }

    .related .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .related .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}