input {
    width: 100%;
    padding: 1em;
    background: #fff;
    border: 1px solid var(--border-grey);
    font-family: inherit;
    font-size: 15px;
    outline: none;
}

input:focus {
    outline: 2px solid var(--black);
}