.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.logo a {
    font-size: 28px;
    text-decoration: none;
}

.logo a:hover {
    opacity: 1;
}