:root {
    --background-pink: #f6eeea;
    --black: #000;
    --light-grey: #bbb;
    --light-orange: #fd885d;
    --grey: #272727;
    --border-grey: rgba(0,0,0,.12);
}

html {
    background: var(--background-pink);
}