@import url("https://use.typekit.net/ryv2twm.css");

html,
a,
p {
    font-family: "acumin-pro", sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Standardise headings */

h1,
h2,
h3 {
    font-family: "acumin-pro", sans-serif;
    line-height: 1.4;
    font-weight: 400;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

/* Quotes */

blockquote {
    font-family: "acumin-pro", sans-serif;
    font-style: italic;
    font-weight: 700;
}